/*=========================
variables
=========================*/
/*color*/
$cBlack01: #000000; //hero-bottom-bg
$cBlack02: #121212; //hero-text
$cBlack03: #131D34; //nav-menu-text

$cWhite: #fff;

$cBlue01: #2498B3; //main-color
$cBlue02: #D4F1F8; //hover-color
$cBlue03: #E9F8FB; //sub-menu-color
$cBlue04: #F3FAFB; //p-menu hover-color
 

/**メディアクエリ**/
$tab : 819px;
$pc : 1199px;